# Your personal GCP project for this bootcamp
GCP_PROJECT=your_project_name_here
GCP_REGION=europe-west1

# Cloud Storage
BUCKET_NAME=naviflow_<user.github_nickname>
BQ_REGION=EU
BQ_DATASET=naviflow__<bq_nickname>

# Compute Engine
INSTANCE=naviflow_<instance_nickname>
