# Your personal GCP project
GCP_PROJECT=your_project_name_here
GCP_REGION=europe-west1

# Cloud Storage
BUCKET_NAME=your_bucket_name_here

MODEL_TARGET= # local or gcs

# GCP credentials (path to your service account JSON key)
GOOGLE_APPLICATION_CREDENTIALS=/path/to/your/service-account-key.json

# Compute Engine (optional, only if using a VM for training)
INSTANCE=naviflow_<instance_nickname>

# Docker
GAR_IMAGE=naviflow
GAR_MEMORY=8Gi
